<?php

if (!defined('UC_CONNECT')) {
    define('UC_CONNECT', 'mysql');
    define('UC_DBCONNECT', 0);
    define('UC_DBHOST', 'localhost');
    define('UC_DBUSER', 'root');
    define('UC_DBPW', 'root');
    define('UC_DBNAME', 'ucenter');
    define('UC_DBCHARSET', 'utf8');
    define('UC_DBTABLEPRE', 'ucenter.');
    define('UC_KEY', '123456789');
    define('UC_API', 'http://localhost/ucenter');
    define('UC_CHARSET', 'utf8');
    define('UC_IP', '');
    define('UC_APPID', 1);
}

return [
    'db' => [
        'database_type' => 'mysql',
        'database_name' => 'sso-v2',
        'server' => '127.0.0.1',
        'username' => 'root',
        'password' => 'root',
        'charset' => 'utf8',
        'port' => 3306,
        'prefix' => '',
        'option' => [PDO::ATTR_CASE => PDO::CASE_NATURAL]
    ],
    'site' => [
        'prefix' => '/sso-v2'
    ]
];
